@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap') ;

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0%;
 background-color: rgb(39, 36, 36);
 color: snow;
}

li, a, button, p {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    color: snow;
    text-decoration: none;
}

h1, h2, h4 { font-family:'Roboto Slab', serif;}

header {display: flex ; 
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style-type: none; 
}
.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0;
}
.nav-links li a:hover {
    color: rgb(26, 124, 236);
}
button {
    padding: 9px 25px;
    background-color: rgba(0, 132, 255, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}
button:hover {
    background-color: rgba(0, 132, 255, 0.7) ;
}

.container-about-me { 
    display: flex;
}

.main-column {
    flex: 2;
    padding: 10px;
}

.side-bar {
    flex: 1;
    padding: 20px;
}

.about-me {
    padding: 5px;
}

#list { padding-left: 15px;}

.avatar {
    height: 180px; width: 180px; flex: 0.5;
}

#work-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.images {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images img {
    height: 260px;
    width: 320px;
    margin: 10px;
    box-sizing: border-box;
}

#homework {
    height: 500px;
    width: 80%;

}

@media (max-width: 800px) {
    .container-about-me {
      flex-direction: column;
    } }