@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap') ;

/* universal background color, color, margin & padding chosen */ 

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0%;
 background-color: rgb(39, 36, 36);
 color: snow;
}


/* font design being chosen for selected element, including removal of underline*/
li, a, button, p {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    color: snow;
    text-decoration: none;
}

h1, h2, h4 { font-family:'Roboto Slab', serif;}

/*header layout being designed in following sequence from line 25-47*/
header {display: flex ; 
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}

.nav-links { list-style-type: none; }

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {transition: all 0.3s ease 0;}

.nav-links li a:hover {color: rgb(26, 124, 236);}

/* button being designed*/
button {
    padding: 9px 25px;
    background-color: rgba(0, 132, 255, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

/*button hover function so it changes colour when mouse pointer hovers over it*/
button:hover {background-color: rgba(0, 132, 255, 0.7);}

/* layout design for about me section from line 63-75 + 88-90*/
.container-about-me {  display: flex;}

.main-column {
    flex: 2;
    padding: 10px;
}

.side-bar {
    flex: 1;
    padding: 20px;
}

/* hover feature so color changes for text in about me section lines 78-86*/
.side-bar:hover h4 {color:rgb(0, 183, 255);}

.side-bar:hover li {color:rgb(0, 183, 255);}

.about-me { padding: 5px; }

.container-about-me .main-column:hover .about-me  {color:rgb(0, 183, 255)}

#list { padding-left: 15px;}

.avatar {
    height: 180px; width: 180px; flex: 0.5;
}

/* layout design for contact section from line 119-132*/
#contact-details {
    display:flex;
    width:100%;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    gap: 50%;
}

/* contact hover feature to change colour from lines 135-137*/
#contact-details:hover h2 {color:rgb(0, 183, 255);}

.contact-items:hover li{color:rgb(0, 183, 255);}

/* footer aligned to centre*/
.footer { text-align: center;}

/* footer hover feature to change colour*/
.footer:hover h4 {color:rgb(0, 183, 255);}

/*about me section design changes to column once page width dimensions reaches 800px or less*/
@media (max-width: 800px) {
    .container-about-me {
      flex-direction: column;
    }
 }